:root {
  --background: 222 30% 98%;
  --foreground: 224 27% 12%;
  --muted: 220 24% 95%;
  --muted-foreground: 224 18% 34%;
  --card: 0 0% 100%;
  --card-foreground: 224 27% 12%;
  --border: 220 20% 88%;
  --ring: 224 74% 52%;
  --primary: 224 74% 52%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 20% 94%;
  --secondary-foreground: 224 24% 16%;
  --accent: 216 66% 50%;
  --accent-foreground: 220 30% 12%;
  --success: 148 56% 46%;
  --success-foreground: 150 70% 10%;
  --warning: 38 90% 58%;
  --warning-foreground: 36 76% 11%;
  --danger: 0 76% 58%;
  --danger-foreground: 0 0% 100%;
  --radius: 0.875rem;
}

.dark {
  --background: 222 30% 98%;
  --foreground: 224 27% 12%;
  --muted: 220 24% 95%;
  --muted-foreground: 224 18% 34%;
  --card: 0 0% 100%;
  --card-foreground: 224 27% 12%;
  --border: 220 20% 88%;
  --ring: 224 74% 52%;
  --primary: 224 74% 52%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 20% 94%;
  --secondary-foreground: 224 24% 16%;
  --accent: 216 66% 50%;
  --accent-foreground: 220 30% 12%;
  --success: 148 56% 42%;
  --success-foreground: 150 70% 96%;
  --warning: 38 90% 52%;
  --warning-foreground: 36 76% 12%;
  --danger: 0 76% 54%;
  --danger-foreground: 0 0% 100%;
}
