:root {
  --background: 228 35% 97%;
  --foreground: 230 28% 10%;
  --muted: 228 24% 94%;
  --muted-foreground: 226 14% 42%;
  --card: 0 0% 100%;
  --card-foreground: 230 28% 10%;
  --border: 228 20% 88%;
  --ring: 258 92% 68%;
  --primary: 258 92% 68%;
  --primary-foreground: 0 0% 100%;
  --secondary: 228 22% 92%;
  --secondary-foreground: 230 28% 12%;
  --accent: 191 95% 60%;
  --accent-foreground: 232 54% 10%;
  --success: 146 64% 42%;
  --success-foreground: 146 74% 96%;
  --warning: 40 95% 58%;
  --warning-foreground: 34 74% 14%;
  --danger: 0 75% 54%;
  --danger-foreground: 0 0% 100%;
  --radius: 0.875rem;
}

.dark {
  --background: 232 38% 7%;
  --foreground: 220 35% 96%;
  --muted: 231 28% 14%;
  --muted-foreground: 224 15% 67%;
  --card: 232 32% 10%;
  --card-foreground: 220 35% 96%;
  --border: 228 16% 20%;
  --ring: 258 92% 68%;
  --primary: 258 92% 68%;
  --primary-foreground: 0 0% 100%;
  --secondary: 228 21% 16%;
  --secondary-foreground: 220 35% 96%;
  --accent: 191 95% 60%;
  --accent-foreground: 232 54% 10%;
  --success: 146 64% 48%;
  --success-foreground: 146 74% 10%;
  --warning: 40 95% 58%;
  --warning-foreground: 34 74% 10%;
  --danger: 0 78% 58%;
  --danger-foreground: 0 0% 100%;
}
