:root {
  --background: 228 32% 8%;
  --foreground: 220 28% 94%;
  --muted: 226 22% 14%;
  --muted-foreground: 220 15% 70%;
  --card: 226 28% 11%;
  --card-foreground: 220 28% 94%;
  --border: 224 18% 22%;
  --ring: 224 74% 62%;
  --primary: 224 74% 62%;
  --primary-foreground: 0 0% 100%;
  --secondary: 224 20% 17%;
  --secondary-foreground: 220 24% 92%;
  --accent: 216 66% 60%;
  --accent-foreground: 220 30% 10%;
  --success: 148 56% 46%;
  --success-foreground: 150 70% 10%;
  --warning: 38 90% 58%;
  --warning-foreground: 36 76% 11%;
  --danger: 0 76% 58%;
  --danger-foreground: 0 0% 100%;
  --radius: 0.875rem;
}

.dark {
  --background: 228 32% 8%;
  --foreground: 220 28% 94%;
  --muted: 226 22% 14%;
  --muted-foreground: 220 15% 70%;
  --card: 226 28% 11%;
  --card-foreground: 220 28% 94%;
  --border: 224 18% 22%;
  --ring: 224 74% 62%;
  --primary: 224 74% 62%;
  --primary-foreground: 0 0% 100%;
  --secondary: 224 20% 17%;
  --secondary-foreground: 220 24% 92%;
  --accent: 216 66% 60%;
  --accent-foreground: 220 30% 10%;
  --success: 148 56% 46%;
  --success-foreground: 150 70% 10%;
  --warning: 38 90% 58%;
  --warning-foreground: 36 76% 11%;
  --danger: 0 76% 58%;
  --danger-foreground: 0 0% 100%;
}
